[run]
omit = task_service/infrastructure/database/connection.py

[report]
omit = task_service/infrastructure/database/connection.py
exclude_lines =
    pass
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
